{% extends "../../installer/templates/index.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'installer_profile/profile.css' %}" />
{% endblock %}

{% block title %}Profile: {{user}}{% endblock %}

{% block body %}
    <div id="profilePicture">
        <h3>{{user}}'s Profile</h3>
    </div>
    <div id="profileInfo">
       <a href="{% url 'installer_config:CreateEnv' %}">Create a New Environment Profile</a>
    </div>
{% endblock %}

