{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'imager/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'imager/style.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}Installer{% endblock %}</title>
</head>

<body>
    <header>
        <h2 id="headerTitle"><a href="{% url 'index' %}">Installer</a></h2>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profile:profile' %}">{{user}}</a></li>
            </ul>
        </nav>
    </header>
    <div id="sidebar">
    </div>
    <div id="content">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
