{% extends "../../installer/templates/index.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'installer_profile/profile.css' %}" />
{% endblock %}

{% block title %}Profile: {{ user }}{% endblock %}

{% block body %}
    <div id="userprofile">
        <h1>{{ user }}'s Profile</h1>
    </div>
    <div class="create-new-env">
       <a href="{% url 'installer_config:CreateEnv' %}"><i class="fa fa-plus-circle"></i> Create a New Environment Profile</a>
    </div>
    <div>
        <h2>My Environments</h2>
        <ul>
            {% for profile in profiles %}
                <li>
                    <a href="{% url 'installer_config:ViewEnv' profile.id %}">{{ profile.description }}</a>
                    <a href="{% url 'installer_config:UpdateEnv' profile.id %}" title="Update"><i class="fa fa-cog"></i></a>
                    <a href="{% url 'installer_config:download_profile' profile.id %}" title="Download"><i class="fa fa-download"></i></a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

