a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #43CD80;
}

#pythonlogo {
    padding: 1em;
    float: left;
}

header {
    display: block;
    height: 6em;
    background-color: white;
}

#headerTitle {
    float: left;
    margin-left: -1%;
    font-size: 2em;
}

#headerTitle a {
    color: #43CD80;
}

nav {
    float: right;
    text-decoration: none;
    margin: 2% 2% 0 0;
}

nav li {
    display: inline-block;
    margin-left: 1em;
}

nav li a {
    color: #43CD80;
}

#page {
    min-height: 90vh;
    padding-top: 3em
}

#content {
    max-width: 90%;
    margin: auto;
}

#text {
    width: 50%;
    margin: 0 auto 2em;
}

#quickStart {
    display: block;
}

#id_description {
    color: #ff9a00;
}

.button {
    color: #ff9a00;
}

.required {
    color: #ff9a00;
}

#id_password {
    color: #ff9a00;
}


#id_username {
    color: #ff9a00;
}


.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#3CB371;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:19px 76px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.myButton:active {
    position:relative;
    top:1px;
}
